<RadSideDrawer #drawer exampleTitle toggleNavButton>
	<StackLayout tkDrawerContent class="sideStackLayout">
		<cds-side-drawer-content></cds-side-drawer-content>
	</StackLayout>
	<StackLayout tkMainContent>
		<GridLayout rows="auto, *">
			<Map #map row="1" accessToken="pk.eyJ1IjoiZ2lvdmFubmljYW5kaWRvIiwiYSI6ImNpc2lnNGs0dzAwNGIydW9jeXE2a2xuazkifQ.a2FxScgnWdt8HVstclk6Nw" latitude="48.3702160" longitude="4.8951680" zoomLevel="3" showUserLocation="true"
				hideAttribution="false" , hideLogo="false" , hideCompass="false">
			</Map>
		</GridLayout>
	</StackLayout>
</RadSideDrawer>